@model GLMS.Models.ServiceRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ServiceRequest</h4>
<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly"
                 class="text-danger"></div>

            <!-- CONTRACT -->

            <div class="form-group mb-3">

                <label asp-for="ContractId"
                       class="control-label"></label>

                <select asp-for="ContractId"
                        class="form-control"
                        asp-items="ViewBag.ContractId">
                </select>

            </div>

            <!-- DESCRIPTION -->

            <div class="form-group mb-3">

                <label asp-for="Description"
                       class="control-label"></label>

                <input asp-for="Description"
                       class="form-control" />

                <span asp-validation-for="Description"
                      class="text-danger"></span>

            </div>

            <!-- COST USD -->

            <div class="form-group mb-3">

                <label asp-for="CostUSD"
                       class="control-label"></label>

                <input asp-for="CostUSD"
                       class="form-control" />

                <span asp-validation-for="CostUSD"
                      class="text-danger"></span>

            </div>

            <!-- COST ZAR -->

            <div class="form-group mb-3">

                <label asp-for="CostZAR"
                       class="control-label"></label>

                <input asp-for="CostZAR"
                       class="form-control"
                       readonly />

            </div>

            <!-- STATUS -->

            <div class="form-group mb-3">

                <label asp-for="Status"
                       class="control-label"></label>

                <input asp-for="Status"
                       class="form-control" />

                <span asp-validation-for="Status"
                      class="text-danger"></span>

            </div>

            <!-- CREATE BUTTON -->

            <div class="form-group">

                <input type="submit"
                       value="Create"
                       class="btn btn-primary" />

            </div>

        </form>

    </div>
</div>

<div class="mt-3">

    <a asp-action="Index">
        Back to List
    </a>

</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}